{{< core/modal }}
    {{$title}}{{#str}} login {{/str}}{{/title}}
    {{$body}}
        <div class="container">
            <form>
                <label for="title"></title>
            </form>
        </div>
    {{/body}}
    {{$footer}}
        <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} cancel {{/str}}</button>
        <button type="button" class="btn btn-primary" data-action="save">{{#str}} save {{/str}}</button>
    {{/footer}}
{{/ core/modal }}