<div id="block-class_material-{{uniqid}}" data-course-module-id="{{courseModuleId}}" data-canedit="{{canEdit}}">
    <div class="document-container">
        {{^documents}}
            <p>{{#str}} empty, block_class_material {{/str}}</p>
        {{/documents}}
        {{#documents}}
            {{> block_class_material/file-item }}
        {{/documents}}
    </div>

{{#canEdit}}
    <div class="d-flex align-items-center justify-content-center">
        <button class="btn btn-primary" id="add_material">
            {{#str}} add_button, block_class_material {{/str}}
        </button>
    </div>
{{/canEdit}}
</div>
{{#js}}
require(
[
    'jquery',
    'block_class_material/main',
],
function(
    $,
    Main
) {
    var root = $('#block-class_material-{{uniqid}}');
    Main.init(root);
});
{{/js}}
